@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    var username = ViewBag.Username ?? "User";
}

<h1>Welcome @username to the ORA Employee Portal</h1>
<p>Here you can manage your profile, products, and more.</p>
