@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    var username = ViewBag.Username ?? "User";
    var newsFeedEntries = ViewBag.NewsFeedEntries as IEnumerable<PROGPOEPART2ST10091991.Models.ERD.NewsFeed>;
}

<div class="container mt-5 bg-light">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4">Welcome, @username, to the ORA Employee Portal</h1>
            <p class="lead">Here you can manage your profile, products, and more.</p>
        </div>
    </div>
</div>

@await Html.PartialAsync("_NewsFeedPartial", newsFeedEntries)