{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>AVA</h1>
    <p class="lead">Finding vulnerabilities before they find you.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is AVA?</h2>
        <p>
            AVA (Advanced Vulnerability Assessor) is designed for ethical simulation of website vulnerabilities.
            It helps users and businesses understand the potential risks and vulnerabilities present in a given website using AI.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Can I trust AVA?</h2>
        <p>
            Yes, you can trust AVA. The AI does not perform live attacks on websites but simulates attacks using various methodologies, scripts, and processes used by unethical hackers.
            AVA is a tool designed for good and ethical purposes, and it does not disobey its core programming rules.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Why create AVA?</h2>
        <p>
            AVA was created to help prevent attacks by identifying weaknesses in website defenses.
            It is a hybrid AI coded with stringent rules to ensure ethical behavior and responsible vulnerability assessment.
        </p>
    </div>
</div>
{% endblock %}
